<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Produto</th>
                <th class="text-center">Preço</th>
                <th class="text-center">Qtde</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart">
                <td>{{ item.title }}</td>
                <td class="text-center">{{ item.price | currency: 'R$' }}</td>
                <td class="text-center"><input type="number" ng-model="item.quantity" ng-change="vm.getTotal()"></td>
                <td class="text-center">{{ (item.quantity * item.price) | currency: 'R$' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="4">
                    <h3>{{ vm.total | currency: 'R$' }}</h3>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-right">
        <a href="#!/checkout" class="btn btn-success btn-lg">CHECKOUT</a>
    </div>

</div>